doctype html
html
  head
    meta(charset="UTF-8")
    title Redefinição de Senha
    style.
      body {
        font-family: Arial, sans-serif;
        background-color: #f6f6f6;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .header {
        text-align: center;
        padding: 20px 0;
      }
      .content {
        padding: 20px;
        font-size: 16px;
        line-height: 1.5;
        color: #333333;
      }
      .button {
        display: block;
        width: 200px;
        margin: 20px auto;
        padding: 10px;
        text-align: center;
        background-color: #007BFF;
        color: #ffffff;
        text-decoration: none;
        border-radius: 5px;
      }
      .footer {
        text-align: center;
        padding: 20px;
        font-size: 12px;
        color: #777777;
      }
  body
    .container
      .header
        h1 Solicitação de Redefinição de Senha
      .content
        p Olá #{name},
        p Você solicitou recentemente a redefinição da senha da sua conta. Clique no botão abaixo para redefini-la.
        a.button(href=`https://byron-of-legends-front.vercel.app/redefinir-senha/${code}`) Redefinir Sua Senha
        p Se você não solicitou a redefinição de senha, por favor, ignore este email ou entre em contato com o suporte se tiver alguma dúvida.
        p Obrigado,
        p Equipe byron of legends
      
